
body {
	background-color: #1A1A1A;
	font-family: 'Padauk', sans-serif;
	max-height: 500px;
}
h1 {
	font-size: 50pt;
	font-family: 'Padauk', sans-serif;
	margin: 0px;
	height: 125px;
	color: #F2F2F2;
}

p {
	color: #F2F2F2;
	font-size: 12pt;
	font-family: 'Padauk', sans-serif;
	width: 50%;

}

a:link{
	text-decoration: none;
}

a:hover {
    color: black;
}
.main {
	color: #F2F2F2;
	/*margin-left: 50px;*/
	width: 100%;	
}

.hidden {
	display: none;
}

#first, #second, #third {
	width:100%;
}

/*.thumbs {
	width: 175px;
	height: 175px;
	margin-right: 25px;
	margin-top: 25px;
	display: relative;
	float: left;
	border-style: solid;
	border-width: 3px;
	border-color: #F2F2F2;
	border-radius: 15px;
  	position: relative;
  	overflow: hidden;
}

.boxes {
	display: relative;
	float: left;
	border-style: none;
}

.left{
	width: 60%;
	height: 100%;
	float:left;
	margin-left: 50px;
	/*border:1px red solid;*/

/*}
.right{
	height: 100%;
	margin-left: 60%;
	align-content: right;
	display: block;
	float: right;
	position: absolute;
	z-index: -2;
}

#box2, #box3 {
	max-width: 175px;
	max-height: 175px;
	align-content: center;
	position: relative;
	float: left;
	vertical-align: middle;
}

#box1 {
	max-width: 175px;
	max-height: 175px;
	align-content: center;
	position: relative;
	float: left;
	margin: none;
}

#one {
	z-index: -1;
	top: -460px;
	left: -30px;
	font-size: 400px;
	position: absolute;
	opacity: 0.5;

}*/*/

.page1 {
	background-color: #1A1A1A;
	/*margin-left: 50px;*/
	width: 100%;	
}

#project-one {
	width: 100%;
	padding: 25px;

}

#project-two {
	width: 100%;
	padding: 25px;
}

#project-three {
	width: 100%;
	padding: 25px;
}

.page1-title {
	color: #F2F2F2;
	font-size: 50pt;
	font-family: 'Padauk', sans-serif;
	height: 75px;
	margin: 0px;
	line-height: 50pt;
	cursor: w-resize;

}

.content {
	width: 80%;
	margin: auto;
	padding: 25px;
}

#img-one {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 75%;
	padding: 15px;
}

.nightdrive {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 15px;
}

.divider {
	background: white;
	width: 80%;
	height: 3px;
	left: 25px;

}
